.btn1{
    background-color: white;
     color:rgb(92, 39, 192);
     border:2px solid rgb(92, 39, 192); 
     padding: 5px 35px;
     margin: auto;
   
    }
    .btn2{
        color: white;
        background-color:rgb(92, 39, 192);
        padding: 10px 30px;
   
        
    }
    p{
        color: rgb(91, 91, 91);  }
    .pp{
        color:rgb(92, 39, 192); 
    }
    .sh{
        background-color: rgb(246, 246, 246);

        box-shadow: 0px 20px 40px 0px rgba(118, 118, 118, 0.35);
        border: none;

    }
    .pbox{
        background-color:rgb(92, 39, 192);
    }
    .pbox p{
        
        color: white;
    }